body {
    background-color: #f2f2f2;
}

label, input[type="text"], #motif {
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    width: 25%;
} 

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#motif {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    padding: 0.5em 1em;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.submit-btn:hover {
    background-color: darkblue;
    cursor: pointer;
}

.submit-btn:active {
    background-color: navy;
    transform: translateY(3px);
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#motif {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    padding: 0.5em 1em;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.submit-btn:hover {
    background-color: darkblue;
    cursor: pointer;
}

.submit-btn:active {
    background-color: navy;
    transform: translateY(3px);
}

.background-txt {
    background-color: #ccc;
}
