@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
 
*,
::before,
::after {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  background: #222;
  
  position: relative;
}

img {
  width: 25px;
  height: 25px;
}

.side-nav {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

.wrapper {
  background: rgb(180, 5, 5);
  height: 100vh;
  width: 75px;
}


.three-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.dot {
  flex-shrink: 0;
  margin: 10px 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}

.d1 {background: rgb(0, 0, 0);}
.d2 {background: black;}
.d3 {background: rgb(0, 0, 0);}

.nav-bloc {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  cursor: grab;
  border-bottom: 1px solid #f2f2f21e;
}

.nav-bloc:hover {
  background: rgb(24, 24, 24);
}

.nav-bloc:hover .sub-nav {
  transform: translateX(75px);
}

.nav-bloc svg {
  width: 25px;
  fill: #f2f2f2;
  transition:  0.2s ease-in-out ;
}

.nav-bloc:hover  svg {
  fill: #50bddf;
}

.sub-nav {
  padding: 0px;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  z-index: -1;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  border-right: 2px solid #000;
  border-left: 2px solid #000;

}

.sub-nav h2 {
  font-family: open sans, sans-serif;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

.sub-nav ul {
  list-style-type: none;
}

.sub-nav li {
  padding: 15px 20px;
}

.sub-nav li:hover {
  background: rgba(160, 160, 160, 0.555);
}

.sub-nav li a {
   color: #f2f2f2;
   text-decoration: none;
}

.main-content {
  padding-left: 75px;
  color: #f3f3f3;
}

.main-content h1 {
  font-family: 'Poppins';
  text-align: center;
  margin: 2% 0 0 0;
  font-size: 40px;
}

.main-content p {
  font-family: 'Poppins';
  text-align: justify;
  max-width: 780px;
  margin: 0 auto;
  padding: 0 30px;
  line-height: 1.7;
}

/* ===== DEBUT POP-UP CONNEXION ===== */

.open-btn {
  display: flex;
  justify-content: center;
}

/* Stylez et fixez le bouton sur la page */
.open-button {
  background-color: rgb(180, 5, 5);
  color: white;
  padding: 10%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
}

/* Positionnez la forme Popup */
.login-popup {
  position: relative;
  text-align: center;
  width: 100%;
}

/* Masquez la forme Popup */
.form-popup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-45%, 5%);
  border: 2px solid rgb(180, 5, 5);
  z-index: 9;
  border-radius: 2.5%;
}

/* Styles pour le conteneur de la forme */
.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: #222;
  border-width: 2.5px;
  border-style: inherit;
  border-color: rgb(180, 5, 5);
  border-radius: 2.5%;
}

/* Largeur complète pour les champs de saisie */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #eee;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Stylez le bouton de connexion */
.form-container .btn {
  background-color: #8ebf42;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.zone-text {
  color: rgb(180, 5, 5);
}

/* Stylisez le bouton pour annuler */
.form-container .cancel {
  background-color: #cc0000;
}

/* effets pour les boutons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* ===== Style fenêtre pop-up _ DOM ==== */

#parent-container {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.cocktail-dom {
  border-radius: 10%;
  
}

.cocktail-dom h1 {
  color: rgb(180, 5, 5);
  font-family: 'Poppins';
  font-size: 101px;
  font-style: oblique;
  position: relative;
  left: 50%;
  letter-spacing: 1.5px;
}

.image-dom {
  border-radius: 20%;
  width: 50%; 
  height: 50%;
  border-width: 5px;
  border-color: rgb(180, 5, 5);
  border-style: dotted;
  position: relative;
  left: 24%;
  
}

.text-dom {
  font-family: 'Poppins';
  font-size: 35px;
  color: #fff;
  margin: 5%;
  position: relative;
  left: auto;
}